/*aquí se hace el codigo general como lo hariamos en css normal*/

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color:white;
}

.navbar {
    background-color: $footer_navbar_color;
	margin-bottom: 0;

}

.navbar-default .navbar-nav > li > a {
    color: $blanco;
}

.navbar-default .navbar-nav > li > a:hover {
    color:$circle_readmore_color;
}


.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color:$circle_readmore_color;
}

/*seccion 2 */

.section2{
	background-color:$background_seccion_uno;
	color:black;
}