/*aquí se realizan las variables generales que se ocuparan en la pagina*/


/*NAVBAR y footer*/

$footer_navbar_color:#2f1f1f;
$blanco: whitesmoke;

/*Seccion uno*/

$background_seccion_uno:#e9e0b7;
$circle_readmore_color:#d9bf84;
$circle:50%;

/*Seccion dos*/

$background_seccion_dos:#f4f4f4;
$color_text_titulo:#d86b40;

/*Seccion tres*/

$background_seccion_tres:#4a3a3a;
$color_text_seccion_tres:#fbcd7f;

/*pueden haber cambios de variables y orden en _bases.scss*/